@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  
  .animate-scroll {
    animation: scroll 40s linear infinite;
    display: flex;
    min-width: 200%; /* Ensures smooth transition */
  }
}
